{% extends "base.html" %}


{% block main_content %}

  <div class="page-title">
    <span>Воздушные суда</span>
  </div>

  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail park-thumbnails">
        <img src="{{STATIC_URL}}media/mi8.jpg" alt="">
        <h3><a href="#">Ми-8Т</a></h3>
        <p>Советский/российский многоцелевой вертолёт, разработанный ОКБ М. Л. Миля в начале 1960-х годов</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail park-thumbnails">
        <img src="{{STATIC_URL}}media/yk40.jpg" alt="">
        <h3><a href="#">Як-40</a></h3>
        <p>Пассажирский самолёт для местных авиалиний, разработанный в СССР в 1960-е годы.</p>
      </div>
    </li>
  </ul>
{% endblock %}
