{% extends "base.html" %}


{% block main_content %}

  <ul class="thumbnails">
    <li class="span6">
      <div class="thumbnail">
        <span class="park-inner-title">Ми-8Т</span>
        <img alt="" src="{{STATIC_URL}}media/mi8-2.jpeg" id="main-img-galery">
        <br>
        <p class="park-inner-description">Советский/российский многоцелевой вертолёт, разработанный ОКБ М. Л. Миля в начале 1960-х годов</p>
      </div>
    </li>
    <li class="span2">
      <a class="thumbnail inner-galery" href="?" img-url="{{STATIC_URL}}media/mi8-2.jpeg">
        <img alt="" src="{{STATIC_URL}}media/mi8-4.jpeg">
      </a>
    </li>
    <li class="span2">
      <a class="thumbnail inner-galery" href="?" img-url="{{STATIC_URL}}media/mi8-1.jpeg">
        <img alt="" src="{{STATIC_URL}}media/mi8-3.jpeg">
      </a>
    </li>
    <li class="span2">
      <a class="thumbnail inner-galery" href="?" img-url="{{STATIC_URL}}media/mi8-2.jpeg">
        <img alt="" src="{{STATIC_URL}}media/mi8-4.jpeg">
      </a>
    </li>
    <li class="span2">
      <a class="thumbnail inner-galery" href="?" img-url="{{STATIC_URL}}media/mi8-1.jpeg">
        <img alt="" src="{{STATIC_URL}}media/mi8-3.jpeg">
      </a>
    </li>
    <li class="span2">
      <a class="thumbnail inner-galery" href="?" img-url="{{STATIC_URL}}media/mi8-2.jpeg">
        <img alt="" src="{{STATIC_URL}}media/mi8-4.jpeg">
      </a>
    </li>
    <li class="span2">
      <a class="thumbnail inner-galery" href="?" img-url="{{STATIC_URL}}media/mi8-1.jpeg">
        <img alt="" src="{{STATIC_URL}}media/mi8-3.jpeg">
      </a>
    </li>
    <li class="span2">
      <a class="thumbnail inner-galery" href="?" img-url="{{STATIC_URL}}media/mi8-2.jpeg">
        <img alt="" src="{{STATIC_URL}}media/mi8-4.jpeg">
      </a>
    </li>
    <li class="span2">
      <a class="thumbnail inner-galery" href="?" img-url="{{STATIC_URL}}media/mi8-1.jpeg">
        <img alt="" src="{{STATIC_URL}}media/mi8-3.jpeg">
      </a>
    </li>
  </ul>
{% endblock %}
