{% load coffeescript slider services feedback %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}avia35{% endblock %}</title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/print.css" rel="stylesheet" media="print">
    <meta charset="utf-8">
    <link href="{{STATIC_URL}}img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name='yandex-verification' content='6662bd01199e4f33' />
  </head>
  <body>
    <div class="container">

      <!-- Start top navbar -->
      <div class="navbar navbar-inverse top-navbar">
        <div class="navbar-inner">
          <a class="brand" href="{% url 'main_page' %}">Вологда, аэропорт</a>
          <div class="pull-right">
            <a href="{% url 'contact_list' %}" class="brand">Организация перевозок: +7 (8172) 55-36-98 &#9742;</a>
          </div>
        </div>
      </div>
      <!-- End top navbar -->

      <!-- Start top slider -->
        {% show_slider %}
      <!-- End top slider -->

      <!-- Start main navbar -->
      <div class="navbar main-navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="{% block index_active %}{% endblock %}"><a href="{% url 'main_page' %}">На главную</a></li>
            <li class="{% block schedule_active %}{% endblock %}"><a href="{% url 'schedule_list' %}">Расписание</a></li>
            <li class="dropdown {% block services_active %}{% endblock %}">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Услуги <b class="caret"></b></a>
              {% services_menu %}
            </li>
            <li class="{% block news_active %}{% endblock %}"><a href="{% url 'news_list' %}">Новости</a></li>
            <li class="{% block documents_active %}{% endblock %}"><a href="{% url 'document_list' %}">Документы</a></li>

            <!--
            <li class="{% block park_active %}{% endblock %}"><a href="{% url 'avia_park_list' %}">Авиапарк</a></li>
            -->
            <li class="dropdown {% block enterprise_active %}{% endblock %}">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">О предприятии <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'avia_park_list' %}">Авиапарк</a></li>
                <li><a href="{% url 'history_list' %}">История</a></li>
              </ul>
            </li>

            <!--
            <li class="{% block contacts_active %}{% endblock %}"><a href="{% url 'contact_list' %}">Контакты</a></li>
            -->
            <li class="dropdown {% block info_active %}{% endblock %}">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Информация <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'contact_list' %}">Контакты</a></li>
                <li><a href="{% url 'faq_list' %}">Часто задаваемые вопросы</a></li>
                <li><a href="#FeedbackModal" data-toggle="modal">Задать вопрос</a></li>
              </ul>
            </li>

            <li class="{% block job_active %}{% endblock %}"><a href="{% url 'job_list' %}">Вакансии</a></li>
          </ul>
        </div>
      </div>
      <!-- end main navbar -->

      <!-- Start main content -->
      <div class="container">
        {% block main_content %}{% endblock %}
      </div>
      <!-- End main content -->

      <!-- Start down navbar -->
      <div class="navbar navbar-inverse down-navbar">
        <div class="navbar-inner">
          <span class="muted">ОАО Вологодское авиационное предприятие</span>
          <div class="pull-right">
            <span class="muted">приемная: 8(8172) 50-77-43</span>
            <span class="muted">факс: 8(8172) 50-77-86</span>
          </div>
        </div>
      </div>
      <!-- End down navbar -->

      {% feedback_form %}

      <div class="{% if not user.is_authenticated %}metric-hide{% endif %}">
        <!-- Yandex.Metrika informer -->
        <a href="http://metrika.yandex.ru/stat/?id=22110187&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/22110187/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:22110187,lang:'ru'});return false}catch(e){}"/></a>
        <!-- /Yandex.Metrika informer -->

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
            try {
              w.yaCounter22110187 = new Ya.Metrika({id:22110187,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true});
            } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/22110187" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
      </div>

    </div>

    <div class="print-container">
      {% block print_content %}{% endblock %}
    </div>

    <script src="{{STATIC_URL}}js/libs/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery.form.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/bootstrap-popover.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/script.coffee" %}"></script>
    <script src="{{STATIC_URL}}js/refresh_captcha.js"></script>
  </body>
</html>
