{% load coffeescript slider %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}avia35{% endblock %}</title>
    <link href="{{STATIC_URL}}css/libs/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" media="screen">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">

      <!-- Start top navbar -->
      <div class="navbar navbar-inverse top-navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">Вологда, аэропорт</a>
          <div class="pull-right">
            <span class="brand">Справочная: +7(921) 123-45-67</span>
          </div>
        </div>
      </div>
      <!-- End top navbar -->

      <!-- Start top slider -->
        {% show_slider %}
      <!-- End top slider -->

      <!-- Start main navbar -->
      <div class="navbar main-navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="{% block index_active %}{% endblock %}"><a href="#">На главную</a></li>
            <li class="{% block schedule_active %}{% endblock %}"><a href="#">Расписание</a></li>
            <li class="dropdown {% block services_active %}{% endblock %}">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Услуги <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Пассажирам</a></li>
                <li><a href="#">Авиакомпаниям</a></li>
                <li><a href="#">Аэродромные услуги</a></li>
              </ul>
            </li>
            <li class="{% block news_active %}{% endblock %}"><a href="#">Новости</a></li>
            <li class="{% block documents_active %}{% endblock %}"><a href="#">Документы</a></li>
            <li class="{% block park_active %}{% endblock %}"><a href="#">Авиапарк</a></li>
            <li class="{% block contacts_active %}{% endblock %}"><a href="#">Контакты</a></li>
            <li class="{% block job_active %}{% endblock %}"><a href="{% url 'job_list' %}">Вакансии</a></li>
          </ul>
        </div>
      </div>
      <!-- end main navbar -->

      <!-- Start main content -->
      <div class="container">
        {% block main_content %}{% endblock %}
      </div>
      <!-- End main content -->

      <!-- Start down navbar -->
      <div class="navbar navbar-inverse down-navbar">
        <div class="navbar-inner">
          <span class="muted">ОАО Вологодское авиационное предприятие</span>
          <div class="pull-right">
            <span class="muted">приемная: 8(817) 55-36-00</span>
            <span class="muted">факс: 8(817) 55-36-01</span>
          </div>
        </div>
      </div>
      <!-- End down navbar -->

    </div>
    <script src="{{STATIC_URL}}js/libs/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}js/libs/bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/script.coffee" %}"></script>
  </body>
</html>
