{% extends "base.html" %}


{% block main_content %}

  <address>
    <strong>ОАО "Вологодское авиационное предприятие"</strong><br>
    160530, Российская Федерация, Вологодская область, Вологодский район, пос. Дорожный.<br>
  </address>

  <address>
    <strong>Телефоны</strong><br>
    коммерческая служба: (8172) 55-37-08<br>
    приемная: (8172) 55-36-43<br>
    факс: (8172) 55-36-86<br>
    агентство: (8172) 79-32-32<br>
  </address>

  <address>
    <strong>Электронная почта</strong><br>
    приёмная  <a href="mailto:#">avia@vologda.ru</a><br>
    организация перевозок <a href="mailto:#">avia.ks@vologda.ru</a><br>
    финансовый отдел <a href="mailto:#">avia.rc@vologda.ru</a><br>
  </address>


  <strong>Схема проезда</strong><br>
  <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=yRuge4fiRM-6NVg8FnBNt-f4STT_DFRG&width=600&height=450"></script><br>


  <strong>Автобусы:</strong><br>
  № 36 - от ул. Архангельская (Архангельская - Герцена - Чернышевского - Аэропорт), <br>
  № 133 - от автобусного и железнодорожного вокзалов. <br>

  <strong>Такси:</strong><br>
  ориентировочная стоимость до центра города - 300-400 рублей.<br>

{% endblock %}
