{% extends "base.html" %}


{% block main_content %}
  <table class="table table-bordered table-hover">
    <caption>Документы</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Тип</th>
        <th>Название</th>
        <th>Размер</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><span class="label doc-type" rel="popover" data-content="Для просмотра данного документа потребуется Adobe Reader или любая другая программа поддерживающая формат PDF файлов." data-original-title="PDF документ">PDF</span></td>
        <td><a href="#">Устав ОАО Вологодское авиационное предприятие</a></td>
        <td>1Кб</td>
      </tr>
      <tr>
        <td>2</td>
        <td><span class="label doc-type" rel="popover" data-content="Для просмотра данного документа потребуется MS Word или любая другая программа поддерживающая формат DOC файлов." data-original-title="DOC документ">DOC</span></td>
        <td><a href="#">Свидетельство о внесении записи в Единый Государственный Реестр Юридических Лиц.</a></td>
        <td>1Кб</td>
      </tr>
      <tr>
        <td>3</td>
        <td><span class="label doc-type" rel="popover" data-content="Распаковать архив можно средствани ОС Windows. В архиве содержатся DOC и PDF файлы. Дополнительно потребются программы Adobe Reader и MS Word." data-original-title="ZIP архив">ZIP</span></td>
        <td><a href="#">Годовой отчёт и финансовая отчетность ОАО "Вологодское авиационное предприятие за 2012 год.</a></td>
        <td>1Кб</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
