{% extends "base.html" %}
{% load thumbnail %}


{% block news_active %}{% endblock %}


{% block main_content %}

    <div class="row">

        <div class="span2" style="text-align:center; font-style: italic;">
            <img src="{{ STATIC_URL }}img/savin.jpg">
            <p>
                Первый командир авиаотряда
                <br>
                П. П. Савин
            </p>

            <img src="{{ STATIC_URL }}img/4polk.jpg">
            <p>
                4-й полк, город Вологда
            </p>

            <img src="{{ STATIC_URL }}img/4polk2.jpg">
            <p>
                4-й полк, город Вологда,<br>
                выступает комиссар т. Тычинкин
            </p>
        </div>
        <div class="span8" style="text-indent: 20px;">
            <p style="text-align:right; font-style: italic;">
                «... Потому, потому что мы пилоты! <br>
                Небо наш, небо наш любимый дом! <br>
                Первым делом, первым делом самолеты...»
            </p>

            <p>
                Эта известная песня как нельзя лучше отражает всю глубинную суть настоящего Летчика. Она стала своеобразным гимном нашей оссийской авиации, поскольку все летчики понастоящему «больны» небом, и отправная точка отсчета у каждого – это возможность летать.
            </p>
            <p>
                Вологодская гражданская авиация – ветеран в небе. 6 октября 2008 года Вологодское авиапредприятие отмечает юбилейный день рождения – 80 лет.
            </p>
            <p><strong>История Вологодского авиапредприятия</strong></p>
            <p>
                История нынешнего Вологодского авиапредприятия началась 6 октября 1928 года, с постановления Президиума Вологодского губернского комитета Совета рабочих, крестьянских и красноармейских депутатов.
            </p>
            <p>
                Понадобилось четыре года, чтобы самолеты начали летать в Вологодскую область. Газета «Красный Север» от 27 августа 1931 года в заметке «Первого сентября открывается воздушная линия Москва – Вологда – Архангельск» писала: «Целая сеть воздушных линий должна в текущем году прорезать небо нашего Северного края. В скором времени откроется воздушно-пассажирское сообщение по линии Москва – Ярославль – Вологда – Архангельск. В Вологде предполагается большое авиационное строительство. В настоящее время за селом Прилуки оборудуется аэродром».
            </p>
            <p>
                В 1937 году на аэродром в Прилуках из состава Череповецкого авиаотряда было поставлено звено самолетов ПО-2. Они связали воздушной дорогой областной центр с восточными районами области. Уже тогда только за один год было налетано 3400 часов, перевезено 3055 пассажиров, 40 тонн грузов, 94 тонны почты. Первыми пилотами в Вологде были Воинов, Копилихин, Раздорский, Савин, Тычинкин. Авиатехниками с 1938 года были Зибряков, Бачурин, Бураков. Наращивание объемов перевозок росло. В 1940 году парк самолетов, эксплуатационная длина воздушных линий, перевозка грузов и почты увеличились вдвое.
            </p>



        </div>
        <div class="span2" style="text-align:center; font-style: italic;">
            <img src="{{ STATIC_URL }}img/to.jpg">
            <p>
                Техническое обслуживание самолета ПО-2.
                Авиатехники <br>
                Е. М. Шалапко и А. С. Цветков.
                Середина 50-х годов
            </p>
            <img src="{{ STATIC_URL }}img/ekipaj.jpg">
            <p>
                Аэродром в Прилуках.<br>
                Летный состав на
                предполетном отдыхе. Середина 50-х годов
            </p>
        </div>
    </div>

{% endblock %}
