{% extends "base.html" %}


{% block index_active %}active{% endblock %}


{% block main_content %}
  <p class="lead">Обращение генерального директора</p>
  <p class="lead">ОАО «Вологодское авиационное предприятие».</p>
  <strong>Уважаемые друзья!</strong>
  <br><br>
  <p>
    Искренне рад приветствовать Вас на нашем сайте в сети Интернет, посвященному одному из старейших авиационных предприятий России - Вологодскому, которому в 2013 году исполняется 85 лет.
  </p>
  <p>
    Уверен, что информация, которую Вы узнаете об авиаторах Вологодской области, дополнит Ваши знания о рынке авиационных услуг в России и позволит еще более успешно вести Ваш бизнес. Наши летчики, инженеры, техники, менеджеры имеют достаточно большой опыт и профессиональную подготовку в организации и выполнении самых различных авиационных перевозок и работ на вертолетах МИ-8, имеющихся в распоряжении нашего предприятия.
  </p>
  <p>
    Аэропорт Вологда и аэропорт Родины Деда Мороза Великий Устюг ждут Ваших чартерных рейсов.
  </p>
  <p>
    Мы всегда готовы к взаимовыгодному сотрудничеству, авиационной поддержке Ваших дел.
  </p>
  <p align="right"> С наилучшими пожеланиями, </p>
  <p align="right"> Генеральный директор </p>
  <p align="right"> ОАО «Вологодское авиационное предприятие» </p>
  <p align="right"> В.Е. Жоголев </p>
{% endblock %}
