{% extends "base.html" %}


{% block main_content %}

<div class="row">
  <div class="span12">
    <h2>Суд рассмотрит иск Dexter к авиакомпании "Татарстан" на 35 млн рублей 15 января</h2>
  </div>
  <div class="span12">
    <div class="news-img-inner">
      <img src="{{STATIC_URL}}media/11247.jpg" alt="">
    </div>
    <div class="news-text-inner">
      <p>9 декабря, AEX.RU – Арбитражный суд Москвы назначил на 15 января предварительные слушания по иску первого российского воздушного такси Dexter (ЗАО "Авиа Менеджмент Груп") о взыскании около 35 млн рублей с ОАО "Авиакомпания "Татарстан", самолет которой в ноябре разбился при посадке в аэропорту Казани, передает РАПСИ.</p>

      <p>Истец выполняет экспресс-перелеты на расстояние до 2 тыс км между городами России, где есть действующие аэропорты. В эксплуатации находятся 10 восьмиместных швейцарских турбовинтовых самолетов Pilatus РС-12.</p>

      <p>Кроме того, арбитражный суд Татарстана 21 ноября по иску ОАО "Международный аэропорт "Казань" взыскал более 300 млн рублей долга с авиакомпании "Татарстан".</p>

      <p/>Авиакомпания по решению суда должна выплатить аэропорту 266,1 млн рублей долга и 45,2 млн рублей неустойки. С авиакомпании взыскана задолженность перед аэропортом за обслуживание воздушных судов с 1 сентября 2010 года по 31 июля 2013 года. Также в суде находится на рассмотрении иск аэропорта к авиакомпании на сумму около 100 млн рублей.</p>

      <p>Пассажирский самолет Boeing 737 авиакомпании "Татарстан", летевший из Москвы, 17 ноября разбился при посадке в аэропорту Казани. Авиакатастрофа унесла жизни шести членов экипажа и 44 пассажиров.</p>
    </div>
    <div class="news-date-inner">01.12.2013</div>
  </div>

</div>

{% endblock %}
