{% extends "base.html" %}


{% block main_content %}

<h3>Пассажирам</h3>

<div class="accordion" id="accordion-services">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-services" href="#services2">Кафе</a>
    </div>
    <div id="services2" class="accordion-body collapse in">
      <div class="accordion-inner">
        В здании аэровокзала работает кафе
        <ul class="thumbnails service-photo">
          <li class="span3"><img src="{{STATIC_URL}}media/cafe1.jpg" alt=""></li>
          <li class="span3"><img src="{{STATIC_URL}}media/cafe2.jpg" alt=""></li>
          <li class="span3"><img src="{{STATIC_URL}}media/cafe3.jpg" alt=""></li>
        </ul>
        <dl>
          <dt>Режим работы</dt>
          <dd>Пн-Пт с 8:00 до 17.00 перерыв на обед с 12:00 до 13:00</dd>
          <dt>Уровень цен</dt>
          <dd>Цена комплексного обеда 150р.</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-services" href="#services1">Комната матери и ребенка</a>
    </div>
    <div id="services1" class="accordion-body collapse">
      <div class="accordion-inner">
        В здании аэровокзала имеется комната матери и ребенка
        <ul class="thumbnails service-photo">
          <li class="span3"><img src="{{STATIC_URL}}media/kmr1.jpg" alt=""></li>
          <li class="span3"><img src="{{STATIC_URL}}media/kmr2.jpg" alt=""></li>
          <li class="span3"><img src="{{STATIC_URL}}media/kmr3.jpg" alt=""></li>
        </ul>
        <dl>
          <dt>Режим работы</dt>
          <dd>Круглосуточный</dd>
          <dt>Цена</dt>
          <dd>100р./час с 1 человека</dd>
        </dl>
      </div>
    </div>
  </div>


</div>
{% endblock %}
