Django==2.0.2
Pillow==5.0.0
easy-thumbnails==2.5
django-static-precompiler==1.7.1
django-tinymce==2.7.0

# development
django-debug-toolbar==1.9.1
ipython==2.1.0
flake8==2.0
pep8==1.4.6

# production
psycopg2==2.5.1
gunicorn==18.0
