{% extends "base.html" %}
{% load thumbnail %}


{% block news_active %}active{% endblock %}


{% block main_content %}

  <div class="page-title">
    <span>Новости</span>
  </div>

  <ul class="thumbnails">
    {% for news in object_list %}
      <li class="span12">
        <div class="thumbnail">
          <div class="row">
            <div class="span4">
              <div class="news-image">
                <img src="{{ news.image|thumbnail_url:'news_list' }}" alt="">
                <span>{{ news.pub_date_start|date:"d.m.o" }}</span>
              </div>
            </div>
            <div class="span7">
              <a href="{% url 'news_detail' news.pk %}"><h3>{{ news.title }}</h3></a>
              {{ news.preview | safe }}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination pagination-centered">
    <ul>
      <li class="disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="disabled"><a href="#">...</a></li>
      <li><a href="#">97</a></li>
      <li><a href="#">98</a></li>
      <li><a href="#">99</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>

{% endblock %}
