{% extends "base.html" %}
{% load thumbnail %}


{% block schedule_active %}active{% endblock %}


{% block main_content %}

  <div class="page-title">
    <a href="{% url 'schedule_list' %}" class="nav-chain">Расписание полетов {% if not flight_list %}(пусто){% endif%}</a>
  </div>

  {% if flight_list %}
  <p class="text-right printer-ref">
    <a href="javaScript:window.print();"><i class="icon-print"></i></a>
  </p>
  <table class="table table-bordered table-hover schedule-table text-center">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Рейс</th>
        <th>Время вылета</th>
        <th>Время прилета</th>
        <th>Заказ билета</th>
      </tr>
    </thead>
    <tbody>
      {% for flight in flight_list %}
        <tr>
          <td>{{ flight.flight_no }}</td>
          <td>{{ flight.direction }}</td>
          <td>{{ flight.departure | safe }}</td>
          <td>{{ flight.arrival | safe }}</td>
          <td>
            {{ flight.order | safe }}
            {% if flight.agents.all %}
              <a class="btn" href="#OrderModal" data-toggle="modal" order-name="{{ flight.direction }}" agents="{% url 'schedule_flight_agents' flight.pk %}">on-line заказ</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <div class="note-bar">
    {% for note in note_list %}
        {{ note.content | safe }}
    {% endfor %}
  </div>

  <div class="pament-banner">
    {% for banner in payment_banner_list %}
        <img src="{{ banner.image | thumbnail_url:'payment_banner' }}">
    {% endfor %}
  </div>

  <div class="modal hide fade modal-order" id="OrderModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Заказать билет на рейс "<span class="order-name"></span>" Вы можете у следующих операторов</h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Закрыть</button>
    </div>
  </div>

{% endblock %}


{% block print_content %}
  <p class="center">Расписание авиа рейсов АО "Вологодское авиационное предприятие"</p>
  <table>
    <thead>
      <tr>
        <th>Номер</th>
        <th>Рейс</th>
        <th>Время вылета</th>
        <th>Время прилета</th>
        <th>Заказ билета</th>
      </tr>
    </thead>
    <tbody>
      {% for flight in flight_list %}
        <tr>
          <td class="counter center">{{ flight.flight_no }}</td>
          <td class="center">{{ flight.direction }}</td>
          <td class="center">{{ flight.departure | safe }}</td>
          <td class="center">{{ flight.arrival | safe }}</td>
          <td>
            {{ flight.order | safe }}
            {% for agent in flight.agents.all %}
              <p>{{ agent.url | safe }}</p>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
