<form id="job_response_form" action="{% url 'job_add_response' vacancy.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Вакансия "{{ vacancy.title }}"</h4>
    </div>

    <div class="modal-body">
      <div class="control-group{% if form.fio.errors %} error{% endif %}">
        <label for="{{ form.fio.id_for_label }}">ФИО *</label>
        <div class="controls">
          {{ form.fio }}
          {% if form.fio.errors %}
            <span class="help-inline">Укажите Ваше ФИО</span>
          {% endif %}
        </div>
      </div>
      <div class="control-group{% if form.phone.errors %} error{% endif %}">
        <label for="{{ form.phone.id_for_label }}">Контактный телефон *</label>
        <div class="controls">
          {{ form.phone }}
          {% if form.phone.errors %}
            <span class="help-inline">Укажите Ваш телефон</span>
          {% endif %}
        </div>
      </div>
      <div class="control-group">
        <label for="{{ form.about_self.id_for_label }}">О себе</label>
        {{ form.about_self }}
      </div>
      <div class="control-group">
        <label class="control-label" for="{{ form.summary.id_for_label }}">Прикрепить резюме</label>
        {{ form.summary }}
      </div>
    </div>

    <div class="modal-footer" style="position: relative">
      <img src="{{ STATIC_URL }}/img/progress.gif" class="send-progress">
      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      <button type="submit" class="btn btn-primary">Откликнутся</button>
    </div>
</form>
