{% extends "base.html" %}


{% block job_active %}active{% endblock %}


{% block main_content %}

  <div class="page-title">
    <span>Вакансии {% if not vacancy_list %}(пусто){% endif%}</span>
  </div>

  <div class="accordion" id="accordion-job">
    {% for vacancy in vacancy_list %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-job" href="#job{{vacancy.pk}}">{{vacancy.title}}</a>
        </div>
        <div id="job{{vacancy.pk}}" class="accordion-body collapse">
          <div class="accordion-inner">
            {{ vacancy.description }}
            <dl>
              {% if vacancy.requirements %}<dt>Требования</dt><dd>{{vacancy.requirements}}</dd>{% endif %}
              {% if vacancy.schedule %}<dt>График роботы</dt><dd>{{vacancy.schedule}}</dd>{% endif %}
              {% if vacancy.payment %}<dt>Оплата</dt><dd>{{vacancy.payment}}</dd>{% endif %}
              {% if vacancy.contacts %}<dt>Контакты</dt><dd>{{vacancy.contacts}}</dd>{% endif %}
            </dl>
            <a class="btn" href="#JobModal" data-toggle="modal" form-url="{% url 'job_add_response' vacancy.pk %}">
              Откликнутся на вакансию
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


<div class="modal hide fade job-modal" id="JobModal">
</div>

{% endblock %}
