{% extends "base.html" %}
{% load history %}


{% block enterprise_active %}active{% endblock %}


{% block main_content %}

  <div class="page-title">
    <a href="{% url 'history_list' %}" class="nav-chain">
      История предприятия {% if not contentblock_list %}(пусто){% endif %}
    </a>
  </div>

  {% for block in contentblock_list %}
    <div class="row">
      <div class="span2">
        {% history_side block.get_left %}
      </div>
      <div class="span8 history-content">
          {{ block.content_rich | safe }}
          {{ block.content_plane | safe }}
      </div>
      <div class="span2">
        {% history_side block.get_right %}
      </div>
    </div>
  {% endfor %}


  <!-- Modal show detail image -->
  <div class="modal hide fade" id="history-image-modal">
    <div class="modal-body history-modal-body">
    </div>
  </div>

{% endblock %}
