.top-navbar {
    margin-bottom: 0;
}

.top-navbar .navbar-inner {
    border-radius: 4px 4px 0 0;
}

.top-slider {
    margin-bottom: 0;
}

.top-carousel-caption {
    padding: 5px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    padding-left: 25px;
}

.main-navbar .navbar-inner {
    border-radius: 0 0 4px 4px;
}

.main-navbar .navbar-inner .nav a{
    padding-left: 22px;
    padding-right: 22px;
}

.down-navbar {
    margin-bottom: 0;
}

.down-navbar .navbar-inner {
    min-height: 20px;
}

.down-navbar .pull-right .muted {
    margin-left: 20px;
}

.table thead th {
    background-color: #656565;
    border-color:#656565;
    color: white;
}

.news-image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.news-image span {
    position: absolute;
    top: 175px;
    left: 5px;
    color: white;
    font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.6);
    padding: 0px  5px 0px 5px ;
}

.news-img-inner {
    float:left;
    margin: 0px 25px 25px 0px ;
}

.news-date-inner {
    text-align: right;
}

.news-title {
    color: #999999;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: Helvetica,​Arial,​sans-serif;
    line-height: 1.5;
}

.park-thumbnails {
    min-height: 350px;
}

.park-thumbnails p {
    margin-left: 5px;
    margin-right: 5px;
}

.park-thumbnails h3 {
    margin-left: 5px;
}

.park-inner-title {
    font: 25px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 10px;
    color: #999999;
}

.park-inner-description {
    margin-left: 10px;
    margin-right: 10px;
}

.job-modal textarea {
    width: 501px;
    height: 95px;
}

.job-modal form{
    margin: 0;
}

.service-photo {
    margin-top: 10px;
}

.modal-order {
    width: 650px;
    margin-left: -350px;
}

.modal-order .thumbnail{
    min-height: 100px
}

.modal-order .thumbnail .caption{
    text-align: center;
}

.page-title {
    color: #999999;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: Helvetica,​Arial,​sans-serif;
}

.send-progress {
    display: none;
    left: 15px;
    top: 15px;
    position: absolute;
}

.dropdown-menu .message {
    margin-left: 10px;
}

.table .file-size{
    width: 80px;
}
