<table class="table table-hover documet-list">
    <tbody>
      {% for document in document_list %}
        <tr>
        <!--
          <td class="doc-type-td"><span class="label doc-type">{{ document.doc_type.title }}</span></td>
        -->
          <td class="doc-type-td">
            <span class="label doc-type" rel="popover" data-content="{{ document.doc_type.description }}" data-original-title="{{ document.doc_type.title }}">
                {{ document.doc_type.title }}
            </span>
          </td>
          <td><a href="{% url 'document_counter' document.pk %} ">{{ document.title }}</a></td>
          {% if show_counters %}
            <td class="doc-counter-td">{{ document.download_counter }}</td>
          {% endif %}
          <td class="doc-size-td">{{ document.get_size_text }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
