{% extends "base.html" %}
{% load documents %}


{% block documents_active %}active{% endblock %}


{% block main_content %}

  <div class="page-title">
    <span>Документы {% if not documentcategory_list %}(пусто){% endif%}</span>
  </div>

  {% if documentcategory_list %}
    <div class="accordion" id="accordion-documents">
      {% for doc_category in documentcategory_list %}
        <div class="accordion-group">

          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-documents" href="#doc-category{{doc_category.pk}}">
              {{doc_category.title}}
            </a>
          </div>

          <div id="doc-category{{doc_category.pk}}" class="accordion-body collapse">
            <div class="accordion-inner">
              {{ doc_category.description | safe }}
              {% document_table doc_category user.is_authenticated %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
